<div class="container">
  <div class="p-grid retira_margin_p_grid">
    <div class="p-col-12">
      <p-table [value]="pessoas" [responsive]="true" [rows]="5" [paginator]="true">
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="6">
              Nenhum lançamento encontrado
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Nome</th>
            <th>Cidade</th>
            <th class="col-data-header">Estado</th>
            <th class="col-valor-header">Status</th>
            <th class="col-acoes-header"></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-p>
          <tr>
            <td><span class="p-column-title">Nome</span>{{p.nome}}</td>
            <td><span class="p-column-title">Cidade</span>{{p.endereco.cidade}}</td>
            <td><span class="p-column-title">Estado</span>{{p.endereco.estado}}</td>
            <td><span class="p-column-title">Status</span>{{p.ativo}}</td>
            <td class="col-acoes-content">
              <a pButton class="espaco-icones" icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
              <button pButton class="espaco-icones" icon="pi pi-trash"pTooltip="Excluir" tooltipPosition="top"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

    <div class="p-col-12">
      <a pButton label="Nova Pessoa" ></a>
    </div>
  </div>

</div>
