<div class="container">
  <form autocomplete="off">

    <div class="p-grid retira_margin_p_grid">

      <div class="p-col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <div class="p-col-12">
        <p-selectButton name="tipo" [options]="tipos" ngModel #tipo></p-selectButton>
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>Vencimento</label>
        <p-calendar name="vencimento" dateFormat="dd/mm/yy" ngModel #vencimento="ngModel" required></p-calendar>

        <!-- <app-message [control]="vencimento" error="required" text="Informe a data de vencimento"></app-message> -->
      </div>

      <div class="p-col-6 p-md-3 p-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }}</label>
        <p-calendar name="recebimento" dateFormat="dd/mm/yy" ngModel #recebimento="ngModel" required></p-calendar>

        <!-- <app-message [control]="recebimento" error="required" text="Informe a data de {{ tipo.value === 'RECEITA' ? 'recebimento' : 'pagamento' }}"></app-message> -->
      </div>

      <div class="p-col-12 p-md-9 p-fluid">
        <label>Descrição {{ descricao.errors | json }}</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5">

        <!-- <app-message [control]="descricao" error="required" text="Informe uma descricao"></app-message> -->
        <!-- <app-message [control]="descricao" error="minlength" text="Mínimo de  {{ descricao.errors?.minlength?.requiredLength }} caracteres"></app-message> -->
      </div>

      <div class="p-col-12 p-md-3 p-fluid">
        <label>Valor</label>
        <p-inputNumber mode="currency" currency="BRL" locale="pt-BR" placeholder="R$ 0,00"></p-inputNumber>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Categoria</label>
        <p-dropdown [options]="categorias" placeholder="Selecione" [filter]="true"></p-dropdown>
      </div>

      <div class="p-col-12 p-md-6 p-fluid">
        <label>Pessoa</label>
        <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true" filterBy="label,value"></p-dropdown>
      </div>

      <div class="p-col-12 p-fluid">
        <label>Observação</label>
        <textarea pInputTextarea rows="3"></textarea>
      </div>

      <div class="p-col-12 cadastro-acoes">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="p-button-secondary"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>
</div>
