<app-navbar></app-navbar>
<app-cadastro-categorias></app-cadastro-categorias>
<hr>
<app-pesquisa-usuarios></app-pesquisa-usuarios>
<hr>
<app-pesquisa-categorias></app-pesquisa-categorias>
<hr>
<app-pesquisa-produtos></app-pesquisa-produtos>
<hr>
<p-toast></p-toast>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
<!--

<app-lancamentos-cadastro></app-lancamentos-cadastro>
<hr>


<app-cadastro-pessoas></app-cadastro-pessoas>
<hr>


<hr>
<app-menu></app-menu>
-
<hr>
<app-cadastro-empresa></app-cadastro-empresa>
<hr>
<app-cadastro-forma-pagamento></app-cadastro-forma-pagamento>

-->
