<app-navbar *ngIf="exibirNavbar()"></app-navbar>
<router-outlet></router-outlet>

<p-toast></p-toast>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>

<!--

<app-pesquisa-usuarios></app-pesquisa-usuarios>
<hr>
<app-lancamentos-cadastro></app-lancamentos-cadastro>
<hr>
<app-cadastro-pessoas></app-cadastro-pessoas>
<hr>
<hr>
<app-menu></app-menu>
-
<hr>
<app-cadastro-empresa></app-cadastro-empresa>
<hr>
<app-cadastro-forma-pagamento></app-cadastro-forma-pagamento>

-->
