/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

a {
  color: #337ab7;
  text-decoration: none;
}

label {
  font-weight: bold;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
    margin: 0 auto;
  }
}

.retira_margin_p_grid {
  /*
  TODO  Oliveira
  Avaliar o motivo do p-grid da "Flex Grid" tem margin de 8 pois isso está ativando o scroll.
  Acredito que isso não deva ser necessário.
  */
  margin: 0;
}

.cadastro-acoes .p-button {
  margin-right: 5px;
}
